# Kök seviye – hassas ve gereksiz dosyalar
apps/mobile/android/key.properties
**/local.properties
**/*.jks
**/*.keystore

# Flutter / build
apps/mobile/.dart_tool/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/build/
apps/mobile/.pub-cache/
apps/mobile/.pub/

# Android
apps/mobile/android/.gradle/
apps/mobile/android/captures/
apps/mobile/android/app/debug/
apps/mobile/android/app/profile/
apps/mobile/android/app/release/

# Gradle / build (genel)
.gradle/
build/

# Log/OS
*.log

# Android Studio
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json

# IntelliJ
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Google Services (e.g. APIs or Firebase)
google-services.json

# Android Profiling
*.hprof
